.headerContainer {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    align-content: stretch;
    .brandLogo{
        align-self: center;
    }
    .menuBar {
        align-self: center;
        flex-grow: 1;    
        font-size: 1.2em;
        a {
            color: black;
            padding: 0 0 0 5rem;
            text-decoration: none;
        }
        a[aria-current="page"]{
            text-decoration: underline;
        } 
    }
    .brandName{
        align-self: center;
        color: black;
        margin: 0 2rem 0 0;
        font-family: Georgia, 'Times New Roman', Times, serif;
    }
}