a {
    color: black;
    text-decoration: none;
    @media screen and (min-width: 1000px) {   
        padding: .5rem 2rem .5rem;
    }
    @media screen and (max-width: 800px) {
        padding: .5rem 0 .5rem;
    }
}
a[aria-current="page"]{
    text-decoration: underline;
} 

.menu {
    width: 70%;
     float: left;
}

.outerBrandContainer {
    width: 30%; 
    font-size: 1.2em; 
    float: left;
    .innerBrandContainer {
        position: absolute; 
        right: 0; 
        @media screen and (min-width: 1000px) {   
            transform: translate(0%, 50%);
        }
        @media screen and (max-width: 800px) {
            transform: translate(50%, 50%);
        }   
    }
}

