.container {
    display: grid;
    grid-template-areas:
    'header' 'main' 'footer';
    grid-template-rows: auto 1fr 3vh;

    .header {
        grid-area: header;
        font-weight: bold;
    }
    
    .main {
        grid-area: main;
        min-height:87vh;
        background: #fafbf1;
    }
    
    .footer {
        grid-area: footer;
        background: #343a40;
        color: white;
    }
}